#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#MainDiv{
  height: 650px;
  width: 550px;
  border: 2px solid; /* Adjust border width as needed */
  border-radius: 25px !important;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.892), 0 6px 20px 0 rgb(23, 22, 22);
  text-align: center;
  font-family: monospace;
}



#MainDiv h1{
  margin-top: 6%;
  font-size: 2.5rem;
}


.NextBtn{
  margin-top: 10%;
  margin-right: 5%;
  position: relative;
  background-color: #5d6b66;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  width: 120px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.NextBtn:after{
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.NextBtn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.resultText{
  font-size: large;
  margin: auto;
  margin-top: 5%;
  background-color: rgba(24, 72, 23, 0.363);
  width: fit-content;
  padding: 2.5%;
  border-radius: 20px;
}
.resultTextRed{
  font-size: large;
  margin: auto;
  margin-top: 5%;
  background-color: rgba(206, 57, 57, 0.459);
  width: fit-content;
  padding: 2.5%;
  border-radius: 20px;
}

.checkBtn{
  margin-top: 10%;
  margin-right: 5%;
  position: relative;
  background-color: #5d6b66;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  width: 120px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer; 
}

.checkBtn:after{
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.checkBtn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.checkBtnDisable{
  margin-top: 10%;
  margin-right: 5%;
  position: relative;
  background-color: #666666;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  width: 120px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: not-allowed; 
}

.checkBtnDisable:after{
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.checkBtnDisable:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}